main {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--primary-dim);
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 96px;
  border: 1px solid var(--primary-dim);
  border-radius: 5px;
  background-color: var(--card);
  margin: 50px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.email_input {
  display: flex;
  align-items: center;
  background-color: black;
  border: 1px solid var(--primary-dim);
  border-radius: 5px;
  padding: 8px 16px 8px 40px;
  width: 420px;
  height: 42px;
  gap: 8px;

  img {
    width: 20px;
  }

  input {
    border: none;
    background-color: black;
    width: 300px;
  }
}

button {
  width: 123px;
  height: 42px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #06b6d4;
  border: none;
}