footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 25px;
  gap: 16px;

  h2 {
    color: aliceblue;
    font-size: 36px;
  }

  h3 {
    color: var(--text);
  }
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  padding-bottom: 60px;
  border-bottom: 1px solid var(--primary-dim);
  width: 100%;
}


.card {
  width: 228px;
  height: 235px;
  background-color: var(--card);
  border: 1px solid var(--primary-dim);
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 15px;
  gap: 20px;
}

.image_card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #06b5d43d;
  border: 1px solid #06b6d433;
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 10px;

  img {
    width: 24px;
  }
}

.text_card {
  display: flex;
  flex-direction: column;
  gap: 8px;

  span {
    color: white;
  }

  p {
    color: var(--text);
  }
}

.footer_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}


.footer_source {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
}

.footer_rights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  img {
    width: 12px;
  }

  p {
    color: var(--text);
    font-size: 12px;
  }
}