:root {
  --font-color-blue: #14a6e9ff;
  --text: #71717a;
  --card: #09090b;
  --background: #000000;
  --foreground: #ffffff;
  --primary-foreground: #000000;
  --primary-dim: rgba(6, 182, 212, 0.1);
  --muted: #a1a1aa;
  --border: #27272a;
  --card-foreground: #ffffff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #000000;
}

